.music-area {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 1em 3em;
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
}

.track {
  display: flex;
  flex-direction: row;
  min-width: 450px;
  max-width: 450px;
  padding: 0.5em 0.25em;
}

.track-artwork {
  margin-right: 0.75em;
}

.track-artwork img {
  max-width: 150px;
}
.track-datapoints {
  margin-right: 0.75em;
}
